---
const stats = [
  {
    name: 'Years',
    value: '9',
  },
  {
    name: 'Experts',
    value: '15',
  },
  {
    name: 'Projects',
    value: '122',
  },
  {
    name: 'Awards',
    value: "'9'",
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        alt="Alvart Apoyan, the founder of Voski Music Studio, playing the violin"
        src="https://ucarecdn.com/0464af97-6a33-46dc-b07e-0d2b67404048/-/resize/1920x/-/quality/smart_retina/-/format/auto/"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
            A comprehensive strings school run by Alvart Apoyan, a professional musician of 20+
            years and a teacher with 15+ years of experience - Voski Music Studio is a place where
            music brings everyone together. We offer individually tailored lessons by professionals
            with experience, group classes for all ages to encourage community learning, and events
            for everyone - musician or appreciating human, to come and enjoy.
          </p>
          <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
            Alvart Apoyan’s fascination with the violin became apparent at a very young age,
            captivated by performances of violinists on television. Prompted by this early interest,
            her parents bought a small violin and signed her up for lessons, leading to her
            participation in local concerts as soon as she could play her first piece.
          </p>
          <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
            She started refining her skills under Robin Wilson at the Australian Institute of Music,
            venturing into musicianship and ensemble classes for the first time. By age 10, she was
            undergoing intensive lessons with Perry Tonoyan and secured a place at the Sydney
            Conservatorium of Music High School in 2004, graduating in 2008 under the guidance of
            virtuoso Wanda Wilkomirska and discovering a new interest in the viola. This led to her
            playing both instruments in multiple Sydney orchestras and teaching both violin and
            viola. In 2011, she had the opportunity to pursue advanced viola studies at the Yerevan
            Komitas State Conservatory in Armenia under the guidance of Prof. Albert Brutyan, and
            had the pleasure of engaging and learning with diverse and incredibly talented
            musicians.
          </p>
          <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
            Upon returning to Sydney in 2016, Alvart has been pursuing her passion for teaching both
            instrumental lesons as well as music theory with a diverse range of over 300 students.
            Her students have showcased their skills and talents in performances and concerts all
            over Sydney and participated in state music exams often with Distinction and High
            Distinction grades.
          </p>
          <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
            Voski Music Studio stands as a vibrant collective where music serves as a unifying
            force, drawing people from all walks of life into a shared experience of artistic
            expression and appreciation.
          </p>
        </div>
      </div>
    </div>

    <!-- Stats -->
    <!-- <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
      {
        stats.map((stat) => (
          <div class="rounded-3xl border border-primary-900/10 p-6 dark:border-primary-300/10">
            <dt class="text-base">{stat.name}</dt>
            <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
          </div>
        ))
      }
    </dl> -->
  </div>
</section>
