---
import Layout from '../layouts/Layout.astro';
---

<Layout description="Upcoming events will be listed here" title="Upcoming Events · Voski">
  <section class="py-12 sm:py-12">
    <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="flex flex-col gap-4 sm:gap-6">
        <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">Events</h1>
        <p class="mx-auto text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl">
          Voski Music Studio is a lively venue for a wide array of musical events. Our calendar is
          bustling for any music enthusiasts keen to immerse themselves in the beauty of live music.
          From intimate concerts that showcase the talents of our students and teachers, to
          performances by the wider professional musical community, there's always something
          happening here. These events are a testament to our belief that music is not just to be
          learned but to be experienced, shared, and cherished together.
        </p>
      </div>
    </div>
  </section>

  <div class="relative mx-auto max-w-3xl px-4 py-6 sm:px-6 sm:py-6 lg:px-8">
    <!-- Spinner Overlay -->
    <div id="calendarLoader" class="absolute inset-0 flex items-center justify-center">
      <div
        class="border-gray-200 border-blue-500 h-10 w-10 animate-spin rounded-full border-4 border-t-4"
      >
      </div>
    </div>
    <div data-events-calendar-app data-project-id="proj_h5zZxBrtmHurxGs0XmPUg"></div>
    <script type="text/javascript" src="//dist.eventscalendar.co/embed.js"></script>
    <script>
      // Custom script to hide the loader once the events calendar is loaded
      // This script would need to be adjusted based on how the events calendar signals it has finished loading
      document.addEventListener('DOMContentLoaded', (event) => {
        const calendarApp = document.querySelector('[events-calendar-app]');
        const observer = new MutationObserver((mutations, obs) => {
          if (calendarApp.childNodes.length > 0) {
            // Adjust this condition as needed
            document.getElementById('calendarLoader').style.display = 'none';
            obs.disconnect();
          }
        });
        observer.observe(calendarApp, { childList: true });
      });
    </script>
  </div>
</Layout>
