---
import Layout from '../layouts/Layout.astro';
---

<Layout description="Upcoming events will be listed here" title="Upcoming Events · Voski">
  <section class="py-16 sm:py-20">
    <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="flex flex-col gap-4 sm:gap-6">
        <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">Events</h1>
        <p class="mx-auto text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl">
          Voski Music Studio is a lively venue for a wide array of musical events. Our calendar is
          bustling for any music enthusiasts keen to immerse themselves in the beauty of live music.
          From intimate concerts that showcase the talents of our students and teachers, to
          performances by the wider professional musical community, there's always something
          happening here. These events are a testament to our belief that music is not just to be
          learned but to be experienced, shared, and cherished together.
        </p>
      </div>
    </div>
  </section>

  <div class="mx-auto max-w-3xl px-4 py-16 sm:px-6 sm:py-20 lg:px-8">
    <div events-calendar-app project-id="proj_h5zZxBrtmHurxGs0XmPUg"></div>
    <script type="text/javascript" src="//dist.eventscalendar.co/main.js"></script>
  </div>
</Layout>
