---
import Button from '../../components/Button.astro';
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
    <div
      class="flex flex-col items-center gap-8 rounded-3xl bg-primary-500/10 px-5 py-16 dark:bg-primary-400/10 sm:gap-10"
    >
      <div class="flex flex-col gap-4 sm:gap-6">
        <h2 class="mx-auto max-w-sm text-3xl font-medium tracking-tight sm:text-4xl">
          Write to us
        </h2>
        <p class="mx-auto max-w-2xl text-lg text-primary-950/70 dark:text-primary-200/70">
          Do you have any questions, are you interested in our events, maybe you just want to chat
          about your favourite composer? We look forward to hearing from you.
        </p>
      </div>
      <Button href="/contact-us" label="Contact us" variant="default" />
    </div>
  </div>
</section>
