---
import Button from '../../components/Button.astro';
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col items-center gap-8 text-center sm:gap-10">
        <div class="flex max-w-xl flex-col items-center gap-4 sm:gap-6">
          <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">
            Voski Music Studio
          </h1>
          <p class="text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl">
            At Voski, we're dedicated to nurturing and developing your musical goals. Our <a
              href="/education"
              class="underline decoration-gold decoration-4">programs</a
            > offer a carefully planned, well-rounded musical education, where your musical
            aspirations can truly flourish.
          </p>
        </div>
        <Button href="/education" label="Get started" variant="default" />
        <img
          class="h-auto w-full rounded-3xl"
          src="https://ucarecdn.com/8c949b27-3979-4f4c-9af9-2705c6d77b28/
/-/preview/3000x2220/-/quality/smart_retina/-/format/auto/"
          alt="Hero picture"
        />
      </div>
    </div>
  </div>
</section>
