---

---

<style is:global>
  @keyframes twinkle {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  .star {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: gold;
    border-radius: 50%;
    opacity: 0;
    animation: twinkle 2s infinite;
  }
</style>

<div class="banner relative sticky top-0 z-50 overflow-hidden bg-blue p-4 text-center">
  <p class="font-thin font-montserrat text-xl text-white">
    Enrollments open now - <a href="/contact" class="font-bold text-gold">contact us</a> before the 21st
    of July to receive a free trial lesson.
  </p>
</div>

<div id="subscribeModal" class="modal">
  <div
    class="modal-content text-black dark:text-black !important border-gray-300 mx-auto my-[15%] w-[80%] max-w-[500px] rounded-lg border bg-white p-5"
  >
    <span
      class="close font-bold text-gray-500 hover:text-black dark:hover:text-gray-700 float-right cursor-pointer text-2xl"
      >&times;</span
    >
    <form
      id="sib-form"
      method="POST"
      action="https://bb882023.sibforms.com/serve/MUIFAF0CeJYN2qprpE3XeT2-ounr90L5Q8YLRi3eYioLMl4XgOphShKYFmFgTZ88d9t6HXhqfrrv_cahCBtMDn5qu-Ld_h6HI_ho91jfVbhz_VsKw1Uibv65PG9-iT3ehkgmkBtIUL4SjvIJAJf5KaqrwEfH_IvPuUJxs9YxE-gDMnU0HJyC6mPPhMREGZTqDY09-5IghyEfWdI4"
      data-type="subscription"
      class="text-black dark:text-black !important flex flex-col gap-4"
    >
      <h2 class="font-bold text-black dark:text-black !important mb-4 text-center text-2xl">
        Subscribe to our Newsletter
      </h2>
      <p class="text-black dark:text-black !important text-center">
        Stay updated with our latest events and educational offerings!
      </p>
      <label for="EMAIL" class="font-bold text-black dark:text-black !important"
        >Email Address</label
      >
      <input
        type="email"
        id="EMAIL"
        name="EMAIL"
        required
        placeholder="Your email address"
        class="border-gray-300 text-black dark:text-black !important rounded border p-2 text-sm"
      />
      <button
        type="submit"
        class="hover:text-black dark:hover:text-black font-bold rounded bg-blue px-4 py-2 text-sm text-white transition-colors duration-300 hover:bg-gold dark:bg-blue dark:text-white dark:hover:bg-gold"
        >Subscribe</button
      >
    </form>
  </div>
</div>

<style>
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .modal.show {
    opacity: 1;
  }

  .modal-content {
    transform: scale(0.7);
    transition: transform 0.3s ease-in-out;
  }

  .modal.show .modal-content {
    transform: scale(1);
  }

  /* Ensure text remains black in dark mode, except for the button */
  .modal-content,
  .modal-content *:not(button) {
    color: black !important;
  }

  /* Specific styles for the button to maintain correct colors in all modes */
  .modal-content button {
    @apply bg-blue !important;
    color: white !important;
  }

  .modal-content button:hover {
    @apply bg-gold !important;
    color: black !important;
  }

  /* Specific styles for the button to maintain correct colors in all modes */
  .dark .modal-content button {
    @apply bg-blue !important;
    color: white !important;
  }

  .dark .modal-content button:hover {
    @apply bg-gold !important;
    color: black !important;
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    const modal = document.getElementById('subscribeModal');
    const span = document.getElementsByClassName('close')[0];

    function showModal() {
      modal.style.display = 'block';
      setTimeout(() => {
        modal.classList.add('show');
      }, 10);
    }

    function closeModal() {
      modal.classList.remove('show');
      setTimeout(() => {
        modal.style.display = 'none';
      }, 300);
    }

    function setModalShown() {
      const expirationDate = new Date();
      expirationDate.setDate(expirationDate.getDate() + 1); // Expire after 1 day
      localStorage.setItem(
        'modalShown',
        JSON.stringify({
          value: true,
          expires: expirationDate.toISOString(),
        })
      );
    }

    function shouldShowModal() {
      const modalShownData = JSON.parse(localStorage.getItem('modalShown') || '{}');
      return !modalShownData.value || new Date(modalShownData.expires) < new Date();
    }

    span.onclick = closeModal;

    window.onclick = function (event) {
      if (event.target == modal) {
        closeModal();
      }
    };

    document.getElementById('sib-form').addEventListener('submit', function (e) {
      e.preventDefault();
      // You can add custom form submission logic here if needed
      this.submit();
      closeModal();
    });

    // Check if user has visited events or education pages
    const currentPath = window.location.pathname;
    if (currentPath.includes('/events') || currentPath.includes('/education')) {
      localStorage.setItem('visitedTargetPage', 'true');
    }

    // Show modal if user has visited target page and should see the modal
    if (localStorage.getItem('visitedTargetPage') === 'true' && shouldShowModal()) {
      // Delay modal appearance by 5 seconds
      setTimeout(() => {
        showModal();
        setModalShown();
      }, 5000);
    }
  });
</script>

<script data-astro-rerun>
  document.addEventListener('astro:page-load', () => {
    const banner = document.querySelector('.banner');
    const numStars = 100;

    function getRandomInt(min, max) {
      return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    function createStar() {
      const star = document.createElement('div');
      star.classList.add('star');
      star.style.top = `${getRandomInt(0, banner.offsetHeight)}px`;
      star.style.left = `${getRandomInt(0, banner.offsetWidth)}px`;
      star.style.animationDelay = `${getRandomInt(0, 2000)}ms`;
      return star;
    }

    for (let i = 0; i < numStars; i++) {
      const star = createStar();
      banner.appendChild(star);
    }
  });
</script>
