---

---

<style is:global>
  @keyframes twinkle {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  .star {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: gold;
    border-radius: 50%;
    opacity: 0;
    animation: twinkle 2s infinite;
  }
</style>

<div class="banner relative sticky top-0 z-50 overflow-hidden bg-blue p-4 text-center">
  <p class="font-montserrat text-xl font-thin text-white">
    Enrollments open now - <a href="/contact" class="font-bold text-gold">contact us</a> before the 10th
    of July to receive a free trial lesson.
  </p>
</div>

<script data-astro-rerun>
  document.addEventListener('astro:page-load', () => {
    const banner = document.querySelector('.banner');
    const numStars = 100;

    function getRandomInt(min, max) {
      return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    function createStar() {
      const star = document.createElement('div');
      star.classList.add('star');
      star.style.top = `${getRandomInt(0, banner.offsetHeight)}px`;
      star.style.left = `${getRandomInt(0, banner.offsetWidth)}px`;
      star.style.animationDelay = `${getRandomInt(0, 2000)}ms`;
      return star;
    }

    for (let i = 0; i < numStars; i++) {
      const star = createStar();
      banner.appendChild(star);
    }
  });
</script>
